<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../assets/noBgColor.png" type="image/x-icon">
    <title>TajoType - Forgot Password</title>
    <link href="/src/css/output.css" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js"
      integrity="sha512-b+nQTCdtTBIRIbraqNEwsjB6UvL3UEMkXnhzd8awtCYh0Kcsjl9uEgwVFVbhoj3uu1DO1ZMacNvLoyJJiNfcvg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      defer
    ></script>
</head> 
<body class="bg-[var(--color-bg)] min-h-screen flex items-center justify-center">
    <div class="p-8 rounded-lg shadow-lg w-96">
        <div class="mb-6 text-center">
            <div id="logo"></div>
            <h1
              class="text-2xl font-bold text-[var(--color-text)]"
            >
              Forgot Password
            </h1>
          </div>
        <form id="forgotPasswordForm" class="space-y-4">
        </form>
        <p class="mt-4 text-center text-sm text-gray-600">
            Remember your password? 
            <a href="login.html" class="text-active-500 hover:text-active-600">Login here</a>
        </p>
        <div id="successMessage" class="mt-4 text-green-700 text-sm text-center hidden p-2 rounded-md bg-green-300 border border-green-700"></div>
        <div id="errorMessage" class="mt-4 hidden text-center text-sm text-red-700 p-2 rounded-md bg-red-300 border border-red-700"></div>
    </div>
    <script type="module" src="../js/pages/forgot-password.js"></script>
</body>
</html>
