<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - TojaType</title>
    <link href="/src/css/output.css" rel="stylesheet">
</head>
<body class="bg-[var(--color-bg)] min-h-screen flex items-center justify-center">
    <div class=" p-8 rounded-lg shadow-md w-96">
        <h1 class="text-2xl font-bold text-center mb-6">Register</h1>
        <form id="registerForm" class="space-y-4">
            <div class="text-[var(--color-text)]">
                <label for="email" class="block text-sm font-medium">Email</label>
                <div>
                    <i class="fa-solid fa-envelope w-7 h-7"></i>
                    <input type="email" id="email" name="email" required    
                    class="px-4 py-2 md:px-6 mt-1 block bg-gray-500 rounded-md border-primary shadow-sm focus:border-active-500 focus:ring-active-500">
                </div>
            </div>
            <div class="text-[var(--color-text)]">
                <label for="password" class="block text-sm font-medium">Password</label>
                <div>
                    <i class="fa-solid fa-lock w-7 h-7"></i>
                    <input type="password" id="password" name="password" required    
                    class="px-4 py-2 md:px-6 mt-1 block bg-gray-500 rounded-md border-primary shadow-sm focus:border-active-500 focus:ring-active-500">
                </div>
            </div>
            <div class="text-[var(--color-text)]">
                <label for="confirmPassword" class="block text-sm font-medium">Confirm Password</label>
                <div>
                    <i class="fa-solid fa-lock w-7 h-7"></i>
                    <input type="password" id="confirmPassword" name="confirmPassword" required    
                    class="px-4 py-2 md:px-6 mt-1 block bg-gray-500 rounded-md border-primary shadow-sm focus:border-active-500 focus:ring-active-500">
            </div>
            <button type="submit"
                class="w-full bg-active-600 text-white py-2 px-4 rounded-md hover:bg-active-700 focus:outline-none focus:ring-2 focus:ring-active-500 focus:ring-offset-2">
                Register
            </button>
        </form>
        <p class="mt-4 text-center text-sm text-gray-600">
            Already have an account? 
            <a href="login.html" class="text-active-500 hover:text-active-600">Login here</a>
        </p>
        <div id="errorMessage" class="mt-4 text-red-600 text-sm text-center hidden"></div>
    </div>
    <script type="module" src="../js/pages/register.js"></script>
</body>
</html>
