@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-poppins: 'Poppins';
  --font-fira-code: 'Fira Code';
  --font-playfair-display: 'Playfair Display';
  --font-architects: 'Architects Daughter';
  --font-raleway: 'Raleway';

  --color-midnight-50: #f8fafc;
  --color-midnight-100: #f1f5f9;
  --color-midnight-200: #e2e8f0;
  --color-midnight-300: #cbd5e1;
  --color-midnight-400: #94a3b8;
  --color-midnight-500: #1f2937;
  --color-midnight-600: #334155;
  --color-midnight-700: #475569;
  --color-midnight-800: #64748b;
  --color-midnight-900: #0f172a;
  --color-midnight-950: #020617;

  --color-active-50: #eff6ff;
  --color-active-100: #dbeafe;
  --color-active-200: #bfdbfe;
  --color-active-300: #93c5fd;
  --color-active-400: #60a5fa;
  --color-active-500: #2563eb;
  --color-active-600: #1d4ed8;
  --color-active-700: #1e40af;
  --color-active-800: #1e3a8a;
  --color-active-900: #172554;

  --color-bg: var(--color-midnight-50);
  --color-text: var(--color-midnight-900);
  --color-primary: var(--color-midnight-500);
  --color-third: var(--color-midnight-600);

  --color-input: var(--color-midnight-800);

  --gradient-start: #0a001d;
  --gradient-end: #8a2be2;
}

/* Thème clair */
:root,
[data-theme='light'] {
  --color-bg: #bca0f3; /* Un fond clair avec une touche de violet */
  --color-text: #cac2df; /* Violet clair pour le texte principal */
  --color-primary: #6c5b8a; /* Une couleur intermédiaire pour les éléments principaux */
  --color-third: #c6a1e0; /* Un accent violet doux */
  --color-input: white; /* Fond blanc pour les champs de saisie */
  --color-text-secondary: #6c4f8c; /* Un rose-violet doux pour le texte secondaire */

  --gradient-start: #edb8ff; /* Gradient clair vers un violet doux */
  --gradient-end: #b972ff; /* Un rose pâle avec un ton violet */
}

/* Thème sombre */
[data-theme='dark'] {
  --color-bg: #0a0427; /* Fond très sombre, presque noir avec une touche de violet */
  --color-text: #f0e6f7; /* Texte clair pour contraster avec le fond sombre */
  --color-primary: #6c5b8a; /* Un violet moyen pour les éléments principaux */
  --color-third: #240c42; /* Un violet sombre pour les accents */
  --color-input: #1a1a2e; /* Fond sombre pour les champs de saisie */
  --color-text-secondary: #b385e7; /* Un violet clair pour le texte secondaire */

  --gradient-start: #240c42; /* Violet très sombre */
  --gradient-end: #8a2be2; /* Violet néon pour un bel effet lumineux */
}

/* Auto - basés sur les préférences du système */
@media (prefers-color-scheme: dark) {
  :root:not([data-theme]),
  [data-theme='auto'] {
    --color-bg: #0a0427; /* Fond très sombre */
    --color-text: #f0e6f7; /* Texte clair */
    --color-primary: #6c5b8a; /* Violet moyen */
    --color-third: #240c42; /* Violet sombre pour les accents */
    --color-input: #1a1a2e; /* Fond sombre pour les champs de saisie */
    --color-text-secondary: #b385e7; /* Violet clair pour le texte secondaire */

    --gradient-start: #240c42; /* Violet très sombre */
    --gradient-end: #8a2be2; /* Violet néon lumineux */
  }
}

* {
  scroll-behavior: smooth;
}

html {
  scrollbar-color: var(--color-bg);
}

body {
  @apply font-poppins bg-[--color-bg] text-[--color-text];
  transition:
    background-color 0.3s,
    color 0.3s;
}

#get-started {
  background:
    linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url('/public/typing.jpg');
  background-position: center;
  background-size: cover;
}

#blinker {
  animation-name: blink;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  opacity: 0;
  background-color: aliceblue;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
